<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>393791522747-v780lpl0uu1r2mga9jileqoe5euu3i4o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.393791522747-v780lpl0uu1r2mga9jileqoe5euu3i4o</string>
	<key>API_KEY</key>
	<string>AIzaSyD_8IkbMJAUFiuE3PI3Z8ByvJR05RHirTI</string>
	<key>GCM_SENDER_ID</key>
	<string>393791522747</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ignisco.auctionmania</string>
	<key>PROJECT_ID</key>
	<string>auction-mania</string>
	<key>STORAGE_BUCKET</key>
	<string>auction-mania.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393791522747:ios:5e3fb305e268bfb156669e</string>
	<key>DATABASE_URL</key>
	<string>https://auction-mania-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>